/* header */
header {display: flex; justify-content: flex-end; padding: 15px;background-color: #f0f0f0;}
header a {color: #333; text-decoration: none; padding-left: 10px;}
header a:hover {font-weight: 600;}

/* sign form */
.form {position: fixed; top: 50%; margin-top: -100px; display: flex; justify-content: center; width: 100%; height: 100px;}
.form p {margin: 0; padding: 0;}
.form input {margin: 0; padding: 5px; margin-bottom: 5px;}
.form .btn-wrap {display: flex; justify-content: space-between;}
.form .btn-wrap p {width: 90px;}
.form .btn-wrap p button {width: 100%; cursor: pointer;}